apiVersion: v1
baseDomain: {{ base_domain }}
metadata:
  name: {{ cluster_name }}
platform:
  vsphere:
    vcenter: {{ vsphere.vcenter }}
    username: {{ vsphere.username }}
    password: {{ vsphere.password }}
    datacenter: {{ vsphere.datacenter }}
    defaultDatastore: {{ vsphere.datastore }}
    folder: {{ vsphere.folder }}
    cluster: {{ vsphere.cluster }}
    network: {{ vsphere.network }}
    apiVIP: {{ api_vip | default('') }}
    ingressVIP: {{ ingress_vip | default('') }}
{% if vsphere.resource_pool | length > 0 %}
    resourcePool: {{ vsphere.resource_pool }}
{% endif %}
pullSecret: '{{ pull_secret }}'
sshKey: '{{ lookup("file", ssh_key_path | expanduser) }}'
{% if proxy.enabled %}
proxy:
  httpProxy: {{ proxy.http_proxy }}
  httpsProxy: {{ proxy.https_proxy }}
  noProxy: {{ proxy.no_proxy }}
{% endif %}
{% if additional_trust_bundle | length > 0 %}
additionalTrustBundle: |
{{ additional_trust_bundle | indent(2) }}
{% endif %}
networking:
  machineNetwork:
    - cidr: {{ machine_network_cidr | default('192.168.1.0/24') }}
  clusterNetwork:
    - cidr: {{ network_cidr }}
      hostPrefix: {{ cluster_network_host_prefix }}
  serviceNetwork:
    - {{ service_network_cidr }}
  networkType: {{ network_type }}
compute:
  - name: worker
    replicas: {{ workers | length }}
    platform:
      vsphere:
        cpus: {{ vsphere.vm.cpu }}
        coresPerSocket: {{ vsphere.vm.cores_per_socket | default(2) }}
        memoryMB: {{ vsphere.vm.memory }}
        osDisk:
          diskSizeGB: {{ vsphere.disk.size }}
          diskType: {{ vsphere.disk.type | default('thin') }}
controlPlane:
  name: master
  replicas: {{ masters | length }}
  platform:
    vsphere:
      cpus: {{ vsphere.vm.cpu }}
      coresPerSocket: {{ vsphere.vm.cores_per_socket | default(2) }}
      memoryMB: {{ vsphere.vm.memory }}
      osDisk:
        diskSizeGB: {{ vsphere.disk.size }}
        diskType: {{ vsphere.disk.type | default('thin') }}
{% if feature_gates | length > 0 %}
featureSet: TechPreviewNoUpgrade
featureGates:
{% for gate in feature_gates %}
  - {{ gate }}
{% endfor %}
{% endif %}
